body {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    background-color: #B1A296;
    color: rgb(33, 32, 34);
    position: relative;
    margin: 0;
    padding-bottom: 4rem;
    min-height: 100%;
}

.header {
    background-image: url('../images/background.jpg');
}

#header-title {
    font-size: 80px;
}

#header-text {
    font-size: 30px
}

.jumbotron {
    text-align: center;
}

.flop{
    background-color: #5D5C61;
    padding: 20px 40px;
}

a {
    color: darkblue;
}

a:hover {
    text-decoration: none !important;
}

.fp {
    font-size: 36px;
    text-align: center;
}

.project{
    background-color: 
}

.title {
    font-size: 30px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #557A95;
    text-align: center;
}
