body {
    background: url("../images/background.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: darkred;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.navbar.navbar-default {
    background-color: darkblue;
    border-color: darkblue;
}

.navbar.navbar-default a {
    color: white;
}

.navbar.navbar-default li a {
    color: white;
}

.navbar.navbar-default li a:hover {
    color: white;
}

div.jumbotron {
    background-color: rgb(26, 25, 25);
}

.panel {
    background-color: rgb(26, 25, 25);
    font-size: 20px;
}

div.panel-heading {
    background-color: darkblue !important;
    color: white !important;
}

a:hover {
    text-decoration: node !important;
}

.fp {
    font-size: 36px;
}

.title {
    font-size: 30px;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: darkblue;
    text-align: center;
}
